@font-face {
  font-family: "Proxima-Nova";
  src: font-url('./proximanova-regular-webfont.ttf') format("truetype");
}

@font-face {
  font-family: "Proxima-Nova-Light";
  src: font-url('./proximanova-light-webfont.ttf') format("truetype");
}

@font-face {
  font-family: "Proxima-Nova-Bold";
  src: font-url('./proximanova-bold-webfont.ttf') format("truetype");
}

@font-face {
  font-family: "MyriadPro";
  src: font-url('./MyriadPro-It.ttf') format("truetype");
}

@font-face {
  font-family: "Proxima-Nova-Thin";
  src: font-url('./proximanovat-thin-webfont.ttf') format("truetype");
}

@font-face {
  font-family: "AvantGarde";
  src: font-url('./avante_garde.ttf') format("truetype");
}

@font-face {
  font-family: "Proxima-Nova-Semibold";
  src: font-url('./proximanova-semibold-webfont.ttf') format("truetype");
}

@font-face {
  font-family: 'icomoon';
  src:  font-url('./icomoon.eot?dfb2at');
  src:  font-url('./icomoon.eot?dfb2at#iefix') format('embedded-opentype'),
    font-url('./icomoon.ttf?dfb2at') format('truetype'),
    font-url('./icomoon.woff?dfb2at') format('woff'),
    font-url('./icomoon.svg?dfb2at#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-x-altx-alt:before {
  content: "\e902";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-phone:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-location2:before {
  content: "\e948";
  color: #86919d;
}
.icon-clock:before {
  content: "\e94e";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-user:before {
  content: "\e971";
}
.icon-search:before {
  content: "\e986";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-smile2:before {
  content: "\e9e2";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-checkmark:before {
  content: "\ea10";
  color: #86919d;
}
.icon-chevron-thin-up:before {
  content: "\e903";
}
.icon-chevron-thin-down:before {
  content: "\e904";
}
.icon-dots-three-horizontal:before {
  content: "\e900";
}
.icon-thumbs-o-up:before {
  content: "\e901";
}

.icon-location-account:before {
  content: "\e948";

}
