@font-face {
  font-family: "Proxima-Nova";
  src: url('./proximanova-regular-webfont.ttf') format("truetype");
}

@font-face {
  font-family: "Proxima-Nova-Light";
  src: url('./proximanova-light-webfont.ttf') format("truetype");
}
