
.welcome {
  display: inherit;
  justify-content: flex-start;
  align-items: center;
}

.prof-pic {
  border-radius: 50%;
}

.requested-task {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(220, 224, 230);
  border-radius: 4px;
  margin-top: 18px;
}

.icon-heart-o:before {
  content: "\e900";
}
.icon-chevron-down:before {
  content: "\e901";
  font-size: 12px;
  vertical-align: middle;
}

.icon-chevron-up:before {
  content: "\e902";
  font-size: 12px;
  vertical-align: middle;
}

}
.icon-location2:before {
  content: "\e948";
}


.task-header {
  border-bottom: inherit;
  border-radius: inherit;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 79px;
  align-items: center;
}

.task-header h3 {
  font-size: 1.75rem;
  margin-left: 23px;
}

.task-tasker {
  margin-right: 20px;
  margin-left: auto;
}

.task-date-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 84px;
  padding: 24px 20.8px;
}

.month-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 8.333%;
  padding: 0px 8px;
  flex-basis: 8.333%;
  border-right: 1px solid rgb(220, 224, 230);

}

.month-day {
  font-size: 20px;
}

.month-day p {
  margin-top: 10px;
  font-size: 14px;
  font-family: "Proxima-Nova-Thin";
}

.task-date.time {
  margin-left: 15px;
  font-family: "Proxima-Nova-Thin";
}

.task-details-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 1px solid rgb(220, 224, 230);
}


.task-details .rowOne {
  margin: 24px 20.8px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;
}

.rowOne label:first-child {
  flex: 2;
}

.rowOne label {

  height: 53px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.task-details .rowTwo {
  margin: 24px 20.8px;
  flex: 1;
}

.task-details {
  color: #67727e;
  font-size: 16px;
  line-height: 24px;
  border-top: 1px solid rgb(220, 224, 230);
}

.task-details p {
  color: rgb(36, 42, 48);
}

.current-task-header{
  margin-bottom: 0px;
  border-bottom: rgb(220, 224, 230);
  position: relative;
  display: flex;
  flex-direction: row;
  right: 54px;
  width: 114.5%;
}

.main .current-task-header{
    margin-top: 50px;
    border-bottom: 1px solid rgb(220, 224, 230);
}

.task-right-space {
  flex: 1;
}
.main-top .requested-tasks{
  margin-top: 0px;
}

.current-tasks-link{
  line-height: 24px;
  width: 100px;
  padding: 0px 24px 12px 24px;
  border-bottom: 2px solid rgb(81, 175, 51);
  color: rgb(81, 175, 51);
  font-size: 16px;
  display: inline;
}

.welcome img {
  margin: 0px 20px 0px 0px;
}

.get-started {
  display: inherit;
  justify-content: center;
  align-items: flex-start;
}

.get-started.number-container {
  margin-top: 27px;
  margin-right: 10px;
}



.can-we-help.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: auto;
  padding-top: 10px;
}

.can-we-help.list li{
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 32%;
  height: 400px;
  margin-top: 10px;
  padding-bottom: 47px;
  padding-top: 57px;
  padding: 57px, 0px, 47px, 0px;
}

.category.title {
  margin-left: 31px;
  color: white;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  font-size: 1.75rem;
  /*margin-left: 11px;
  margin-top: -1.4em;*/
}

.category.link:hover {
    background: white;
    color: #51af33;
}

.category.link a:hover {
    background: inherit;
    color: inherit;
}

.category.link {
  font-size: 1.125rem;
  float: left;
  padding: 10.8px 25.2px;
  transition: all .3s ease-in-out;
  color: #242a30;
  width: 85px;
  background: rgba(255,255,255,0.75);
}

.category.link a {
  font-family: "Proxima-Nova";
  font-size: inherit;
  float: left;
  padding: 0px;
  color: #242a30;
  width: 85px;
  background: transparent;
}

#manage-tasks {
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid #dce0e6;
  border-radius: 4px;

}

#manage-tasks > div {
  width: 100%;
  height: inherit;
  position: relative;
  overflow: hidden;
}

#manage-tasks button {
  padding-top: 0.625em;
  padding-bottom: 0.625em;
  font-size: 1rem;
  width: 118px;
  margin: 0px 0px 0px 16px;

}
#manage-tasks div {
  flex-direction: column;
  align-items: center;
}

#manage-tasks .manage-task-background{
  height: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  background-size: cover;
}

#manage-tasks h3 {
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  position: relative;
  z-index: 200;
}

.manage-task-background * {
  position: relative;
  z-index: 200;
}


.manage-task-background{
    display: flex;
    justify-content: center;
    background-image: url("modal-background.jpg");
    position: absolute;
    opacity: 0.65;
    width: 100%;
    height: auto;
}

#manage-tasks .manage-tasks.send-text-form{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}
#manage-tasks input{
  width: 200px;
}
