
footer {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: #67727e;
  height: 352px;
  padding-top: 32px;
}

footer a, footer p {
  font-family: "Proxima-Nova-Thin";
  display: block;
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  height: 1.5em;
  line-height: 1.5em;
  list-style-position: outside;
}

footer span {
  font-family: "Proxima-Nova-Thin";
  height: 1.5em;
  line-height: 1.5em;
}


.download-app.desc {
  color: white;
  margin-bottom: 15px;
}

.bottom-nav {
  display: flex;
  justify-content: center;
}

.bottom-nav > div {
  width: 33%;
}

.social-media img {
  height: 24px;
  width: 24px;
}

.social-media {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  margin-left: 4px;
}

.social-media a {
  padding: 0px 8px 0px 8px;
}

.download-app {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.download-app img {
  height: 45px;
  width: auto;
}

.app-store-buttons {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 5px;
}

.microcity {
  height: 100px;
  width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: image_url("./microcitybutton2.png");
}

.plainchess {
  margin-left: 15px;
  width: 200px;
  margin-top: 6px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: image_url("./plainChessButton.png");
}
footer span {
  color: #b1b9c3;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  line-height: 30px;
}


footer > section {
  width: 65%;
}
