body, div, li, ul, nav, span, header, section, footer, button, p, h1, h2, h3, h4, h5, h6, a{
  font-family: "Proxima-Nova-Light", Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  list-style: none;
}

a:hover {
  cursor: pointer;
}

.prof-pic {
  border-radius: 50%;
}

.nav-logo {
  width: 160px;
  height: 36px;
}

.auth-logo{
  margin-top: 24px;
  max-width: 50%;
}

#root > div {
  width: inherit;
  height: inherit;
}

.auth-container{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 40%;
}

#root {
  width: 100%;
  height: 100%;
}

header {
  background-color: #ffffff;
  height: 60px;
  border-bottom: 1px solid #dce0e6;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.top-nav.logo {
  margin-left: 10px;
}

.top-nav.links-container {
  margin-left: auto;
  display: flex;
  justify-content: space-around;
}

.nav-links {
  font-family: "Proxima-Nova-Light", Arial, Helvetica, sans-serif;
  font-style: none;
  font-size: 16px;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 200;
}
.nav-links.last {
  margin-right: 60px;
}

.auth-input.err{
  color: #da9e07;
  border-color: transparent;
  box-shadow: inset 0 0 0 0.5px #da9e07;
  border: -11.5px solid #da9e07;
}

.error {
  color: #da9e07;
  font-size: 12px;
}

input[type=text], input[type=password], input[type=email], input[type=search], input[type=url], input[type=submit], input[type=number], textarea {
    outline: none
}

input[type=text], input[type=password], input[type=email], input[type=search], input[type=url], input[type=number], textarea, select {
    font-weight: normal;
    border: 1px solid #b1b9c3;
    font-size: 1em;
    border-radius: 4px;
    -webkit-transition-property: border-color, color, box-shadow;
    transition-property: border-color, color, box-shadow;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    max-width: 100%
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=search]:focus, input[type=url]:focus, input[type=number]:focus, textarea:focus {
    color: #242a30;
    border-color: transparent;
    box-shadow: inset 0 0 0 1px #51af33
}


.auth-label {
  font-family: "Proxima-Nova-Light", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  margin-top: 20px;
  width: 468px;
  text-align: left;
  color: #242a30;
}

.name-label {
  margin-top: 18px;
}
.name-fields {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  height: auto;
}

button, input {
letter-spacing: normal;
word-spacing: normal;
text-transform: none;
text-indent: 0px;
text-shadow: none;
}

button {
  text-rendering: auto;
  background-color: #51af33;
  display: block;
  width: 468px;
  color: white;
  border: 1px solid #51af33;
  border-radius: 4px;
  font-size: 1.25rem;
  padding: 0.5em 1.38em 0.5em 1.38em;
  text-align: center;
  line-height: 1.4;
  font-family: "Proxima-Nova-Light", Arial, Helvetica, sans-serif;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 300;

}

input {
  border: 1px solid rgb(177, 185, 195);
  min-height: 22px;
  padding: 10px 16px 10px 16px;
  width: 434px;
  outline: none;
  transition-property: border-color;

}

.auth-form {
  height: inherit;
  width: inherit;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.input:focus {
    outline: none !important;
    border:1px solid red;
    box-shadow: 0 0 10px #7dd161;
}
/*377*/
.auth-main {
  min-height: 377px;
  width: 500px;
  background-color: white;
  position: relative;
  top: 33px;
  border-radius: 4px;
  border: 1px solid #dce0e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.login-footer {
  display: flex;
  justify-content: flex-end;
  width: 434px;
  margin-bottom: 35px;
}

a {
  font-family: "Proxima-Nova-Light", Arial, Helvetica, sans-serif;
  color: rgb(81, 175, 51);
  font-size: 16px;
  text-decoration-line: none;
}

button:hover {
  color: white;
  border: 1px solid #438e29;
  background-color: #438e29;
  transition-timing-function: ease;
  transition-duration: 0.16s;
  cursor: pointer;
}

body {
width: 100%;
height: 100%;
background-image: url("https://d31ebqhycylygn.cloudfront.net/v3/assets/web/hero_groceries-ba7154fde71c6fa17ace6db2b41f4455.jpg");
background-size: cover;
background-repeat: no-repeat;
}

.app-container {
  width: 100%;
  height: 100%;

}


.main-container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f9fafd;
}


.main {
  margin-top: 20px;
  display: inherit;
  flex-direction: column;
  width: 65%;
  font-family: "Proxima-Nova-Light", Arial, Helvetica, sans-serif;
  align-items: center;
}

.main-top {
  width: 66%;
}

.main-bottom {
  margin-top: 20px;
  width: 100%;
}

.main section {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.welcome {
  display: inherit;
  justify-content: flex-start;
  align-items: center;
}

.welcome img {
  margin: 0px 20px 0px 0px;
}

.search-bar.input {
  padding-right: 0px;
  padding-left: 0px;
  height: 20px;
  font-size: 1em;
  padding-left: 2.5em;
  z-index: 50;
  border: 1px solid #dce0e6;
  width: 100%;
  vertical-align: middle;
  border-radius: 4px;
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin-top: 8px;
  line-height: 24px;
  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: logical;
  user-select: text;
  cursor: auto;

}

.get-started {
  display: inherit;
  justify-content: center;
  align-items: flex-start;
}

.get-started.number-container {
  margin-top: 27px;
  margin-right: 10px;
}



.can-we-help.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: auto;
  padding-top: 10px;
}

.can-we-help.list li{
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 32%;
  height: 400px;
  margin-top: 10px;
  padding-bottom: 47px;
  padding-top: 57px;
  padding: 57px, 0px, 47px, 0px;
}

.category.title {
  margin-left: 31px;
  color: white;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  font-size: 1.75rem;
  /*margin-left: 11px;
  margin-top: -1.4em;*/
}

.category.link:hover {
    background: white;
    color: #51af33;
}

.category.link a:hover {
    background: inherit;
    color: inherit;
}

.category.link {
  font-size: 1.125rem;
  float: left;
  padding: 10.8px 25.2px;
  transition: all .3s ease-in-out;
  color: #242a30;
  width: 85px;
  background: rgba(255,255,255,0.75);
}

.category.link a {
  font-family: "Proxima-Nova";
  font-size: inherit;
  float: left;
  padding: 0px;
  color: #242a30;
  width: 85px;
  background: transparent;
}

#manage-tasks {
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid #dce0e6;
  border-radius: 4px;

}

#manage-tasks > div {
  width: 100%;
  height: inherit;
  position: relative;
  overflow: hidden;
}

#manage-tasks button {
  padding-top: 0.625em;
  padding-bottom: 0.625em;
  font-size: 1rem;
  width: 118px;
  margin: 0px 0px 0px 16px;

}
#manage-tasks div {
  flex-direction: column;
  align-items: center;
}

#manage-tasks .manage-task-background{
  height: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  background-size: cover;
}

#manage-tasks h3 {
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  position: relative;
  z-index: 200;
}

.manage-task-background * {
  position: relative;
  z-index: 200;
}


.manage-task-background{
    display: flex;
    justify-content: center;
    background-image: url("modal-background.jpg");
    position: absolute;
    opacity: 0.65;
    width: 100%;
    height: auto;
}

#manage-tasks .manage-tasks.send-text-form{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}
#manage-tasks input{
  width: 200px;
}

h2 {
  font-size: 32px;
  font-style: normal;
  font-family: "Proxima-Nova";

  line-height:40px;
}

h1 {
    font-size: 2rem;
    line-height: 1.25
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600
}


footer {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: #67727e;
  height: 352px;
}

footer a, footer p {
  display: block;
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  height: 30px;
  line-height: 30px;
  list-style-position: outside;
}

.download-app.desc {
  color: white;
}

.bottom-nav {
  display: flex;
  justify-content: center;
}

.bottom-nav > div {
  width: 33%;
}

.social-media img {
  height: 24px;
  width: 24px;
}

.social-media {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.social-media a {
  padding: 0px 8px 0px 8px;
}

.download-app {
  display: flex;
  flex-direction: column;
  align-items: space-around;
}

.download-app img {
  height: 45px;
  width: auto;
}

.app-store-buttons {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-top: 5px;
}

footer span {
  color: #b1b9c3;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  line-height: 30px;
}

footer > section {
  width: 65%;
}
