
.nav-logo {
  width: 160px;
  height: 36px;
}

.auth-logo{
  margin-top: 24px;
  max-width: 50%;
}

.auth-background{
  background-image: url("https://d31ebqhycylygn.cloudfront.net/v3/assets/web/hero_groceries-ba7154fde71c6fa17ace6db2b41f4455.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 950px;
  position: relative;
}


.auth-container{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 40%;

}

.auth-input.err{
  color: #da9e07;
  border-color: transparent;
  box-shadow: inset 0 0 0 0.5px #da9e07;
  border: -11.5px solid #da9e07;
}

.error {
  color: #da9e07;
  font-size: 12px;
}

.auth-main input[type=text]:focus, .auth-main input[type=password]:focus, .auth-main input[type=email]:focus, .auth-main input[type=search]:focus, .auth-main input[type=url]:focus, .auth-main input[type=number]:focus, textarea:focus {
    color: #242a30;
    border-color: transparent;
    box-shadow: inset 0 0 0 1px #51af33;
}

.auth-label {
  font-family: "Proxima-Nova-Light", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  margin-top: 20px;
  width: 468px;
  text-align: left;
  color: #242a30;
}

.name-label {
  margin-top: 18px;
}

.name-fields {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  height: auto;
}

button, input {
letter-spacing: normal;
word-spacing: normal;
text-transform: none;
text-indent: 0px;
text-shadow: none;
}

button {
  text-rendering: auto;
  background-color: #51af33;
  display: block;
  width: 468px;
  color: white;
  border: 1px solid #51af33;
  border-radius: 4px;
  font-size: 1.25rem;
  padding: 0.5em 1.38em 0.5em 1.38em;
  text-align: center;
  line-height: 1.4;
  font-family: "Proxima-Nova-Light", Arial, Helvetica, sans-serif;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 300;

}

.auth-input {
  border: 1px solid rgb(177, 185, 195);
  min-height: 22px;
  padding: 10px 16px 10px 16px;
  width: 434px;
  outline: none;
  transition-property: border-color;

}

.auth-form {
  height: inherit;
  width: inherit;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
/*377*/
.auth-main {
  min-height: 377px;
  width: 500px;
  background-color: white;
  position: relative;
  top: 33px;
  border-radius: 4px;
  border: 1px solid #dce0e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.login-footer {
  display: flex;
  justify-content: flex-end;
  width: 434px;
  margin-bottom: 35px;
}


.main {
  margin-top: 20px;
  display: inherit;
  flex-direction: column;
  width: 65%;
  font-family: "Proxima-Nova-Light", Arial, Helvetica, sans-serif;
  align-items: center;
}

.main-top {
  width: 66%;
}

.main-bottom {
  margin-top: 20px;
  width: 100%;
}

.main section {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
