.new-task-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.new-task-container > section {
  display: flex;
  justify-content: center;
  width: inherit;
}

.noResults {
  width: 100%;
  min-height: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.no-results-response {
  display: flex;
  align-items: baseline;
  border-radius: 4px;
  border: 1px solid rgb(220, 224, 230);
  background-color: #ffe6e6;

  padding: 20px;
  height: 40px;
}

.noResults .no-results-response h2 {
  font-family: "Proxima-Nova-Bold";
}
.noResults a {
  font-size: 18px;
  padding-left: 10px;
  color: #904343;
  font-family: "Proxima-Nova-Bold";

}
div.locationDisplay:hover {
  cursor: pointer;
}

.taskerStatus {
  color: #36b5bb;
  width:100%;
  display: flex;
  justify-content: flex-end;

}
.trust-safety-info-icon {
  margin-left: 32px;
  color: rgb(81, 175, 51);
  font-size: 20px;
}

.step-icon {
  margin-right: 16px;
}
.tasker-presence, .task-location-icon{
  color: #36b5bb;
  font-size: 16px;
}

.stage1-container .stage1-form-header{
  padding-top: 6px;
  padding-left: 0px;
  font-size: 1rem;

}

.category-title {
  width: 47%;
  position: relative;
}
.stage1-form-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.task-step-bar {
  background: white;

  border-bottom: 1px solid #dce0e6;
  padding: 1px 0;
  padding-bottom: 13px;
  line-height: 1.25em;
  height: 43.1875px;
}

.new-task-container ol {
  width: 65%;
  list-style-type: decimal;
  display: flex;
  justify-content: space-between;
}

.trust-and-safety {
  width: 65%;
  display: inherit;
  flex-direction: inherit;
  justify-content: inherit;
  align-items: center;
}

.trust-and-safety-container {
  background-color: rgb(232, 235, 239);
  padding: 8px 0px 13px 0px;
  height: 45px;
}

strong {
  line-height: 30px;
  font-size: 20px;
  margin-right: 10px;
  font-family: "Proxima-Nova-Bold";
}

.trust-and-safety p {
  font-family: "Proxima-Nova-Thin";
  font-size: 20px;
  font-style: normal;
  line-height: 30px;
}

.trust-and-safety img {
  margin-right: 16px;
}

.new-task-form {

}


.new-task-container .new-task-form {
  width: 59%;
  padding: 32px 32px 32px 175px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.new-task-form > div {
 width: 100%;

}


.category-title h2 {
  font-family: "Proxima-Nova-Light";
  font-size: 32px;

}
.category-title {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;

}

.category-title a {
  margin-left: 20px;
  font-size: 16px;
}

.location-container {
  margin: 4px 0px 16px 0px;
  padding: 22px 22px 22px 0px;
  border: 1px solid rgb(220, 224, 230);
  display: flex;
  justify-content: flex-start;
  align-items: space-between;
}
#stage-container {
  display: flex;
  justify-content: center;
  width: 47%;
}

.stage1-container {
  width: 100%;
}
.stage1-container > div {
  background-color: white;
  padding: 1.375rem;
  width: 100%;
}

.stage1-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.stage1-form h3 {
  margin-bottom: 8px;
}

.location-container {
  width: 100%;
}

.location{
width: 100%;
}
.error.location {
  font-size: 16px;
}

.location-input.err{
  color: #da9e07;
  border-color: transparent;
  box-shadow: inset 0 0 0 0.5px #da9e07;
  border: -11.5px solid #da9e07;
}

.location-input.hidden {
  display: none;
}

.stage1-container #addressInputs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.addressInputs input {
  min-height: 22px;
  padding: 10px 16px;
  margin-bottom: 32px;
  line-height: 24px;
;
}


#autocomplete {
  flex: 2;
  min-height: 40px;
  width: 100%;
  max-width: 790px;

  font-size: 1em;

  font-family: "Proxima-Nova-Light";

}


.continue-container .location-button {
  width: auto;
  padding: 0.5em 1.38em 0.5em;
  margin-bottom: 40px;
}

.addressInputs #apt-num {
  flex: 1;
  max-width: 108.594px;
  width: 100%;
  margin-left: 20px;
  min-height: 40px;
  font-size: 1em;
  font-family: "Proxima-Nova-Light";
  border-radius: 4px;
  border: 1px solid rgb(177, 185, 195);
  outline: none;
  transition-property: border-color;
}

#autocomplete:focus {
  color: #242a30;
  border-color: transparent;
  box-shadow: inset 0 0 0 1px #51af33;
}

#apt-num:focus {
  color: #242a30;
  border-color: transparent;
  box-shadow: inset 0 0 0 1px #51af33;
}

.description-form-container {
  margin: 4px 0px 16px 0px;
  padding: 22px 22px 22px 0px;
  display: flex;
  justify-content: flex-start;
}
.description-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: none;
}

.continue-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.taskLocation.taskersPresent {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.icon-location2 {
  margin-right: 15px
}

.description-container{
  margin-bottom: 5px;
  border: 1px solid rgb(220, 224, 230);
}

.locationDisplayRow {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.description-form textarea {
  font-size: 1em;
  font-family: "Proxima-Nova-Light";
  border-radius: 4px;
  outline: none;
  margin-top: 16px;
  height: 160px;
  width: 95%;
  padding: 8px 12px;
  margin-bottom: 32px;
}

.about-task-header {
  margin-bottom: .5rem;
}
