.splashContainer {
  width: 100%;
  min-height: 800px;
  background-color: white;
}

.splashBanner {
  width: 100%;
  min-height: 600px;
  background-image: image_url("./splash_background_blur.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
}

.splashBox {
  background-color: white;
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.5rem;

}

.splashBox_title {
  line-height: 1.2;
  font-size: 2.5rem;
  font-family: "Proxima-Nova-Light";
}

.splashBox_spacer {
  border-bottom: 1px solid rgb(81, 175, 51);
  height: 0px;
  width: 50px;
  margin: 32px 0px;
}

.splashBox_subtitle {
  padding: 20px 0px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: "Proxima-Nova-Thin";
  font-size: 1.5rem;
  line-height: 36px;
}
.splashBox_search {

  width: 100%;
}

.splashBox_search.search-container {
 width: 100%;
}

.splashBox_search input.search-bar.input {
  padding: 15px 0px;
}

.splashLinks_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: white;
  margin-bottom: 80px;
}

.splashLinks_title {
  margin-bottom: 40px;
  font-size: 40px;
  font-family: "Proxima-Nova-Light"
}

.splashLinks_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px 16px;
  margin: 0px 40px 20px 40px;
}

.splashLink_content {
  font-family: "Proxima-Nova-Light";
  padding: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 24px;
  flex: .3;
  background-color: rgb(249, 250, 251);
}

.splashLink_content button {
  font-size: 16px;
  font-family: "Proxima-Nova-Thin";
  padding: 10px 28px;
  width: 236px;
}

.splashLink_photo_med {
  flex: 1;
  background-image: image_url("./splashLink_photo_med.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 390px;
  width: 700px;
}
