.filter-container {
  margin: 0px 24px 0px 0px;
  width: 376px;
  min-width: 376px;
  max-width: 376px;
  padding: 24px 32px;
  border: 1px solid rgb(220, 224, 230);
  border-radius: 4px;
  background-color: white;
  height: auto;
}


.sorted-by-title {
  text-transform: uppercase;
  font-family: "Proxima-Nova-Semibold";
  font-size: 1em;
  line-height: 1em;
  margin: 0;
}

.filter-container select {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1.75rem;

}

select {
  margin: 0;
  padding: 0.5em 0.75em;
  background-color: white;
  height: 40px;

}



* {
  min-height: 0;
  min-width: 0;
}


.time-and-date-container {
  border-top: 1px solid #dce0e6;
  padding-top: 1.75rem;
}

.time-and-date-title {
  font-family: "Proxima-Nova-Semibold";
}

.date-availability-container{
  cursor: pointer;
  border-radius: 4px;
  height: 80px;
}


.slick-arrow button {
}

.weekday {
  font-family: "Proxima-Nova-Bold";
}

.weekday, .avail-date {
  height: 24px;
}

.date-carousel-container {
  position: relative;
}

.date-carousel{

}
.date-availability-container{
  background: #f9fafb;
  border: 1px solid #b1b9c3;
  border-radius: 4px;
  color: #545e69;
  height: 80px;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slick-slide.slick-active.slick-center .date-availability-container {
  background-color: #51af33;
  border-color: #51af33;
  color: white;
  font-weight: bold;
  border-radius: 4px;


}

.slick-slide{
  /*background-color: white;*/
  /*border: 1px solid #dce0e6;*/
  /*font-weight: bold;
  color: black;*/
  /*display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;*/

  /*margin: 0px 4px;*/

}
