<!DOCTYPE html>
<html>
  <head>
    <title>ClassRabbit</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCL8ilgkoUZYIYTte_KGH2oB6-IQ42821I&libraries=places">
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
